.page {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 420px;
}

.centered {
  margin: 0 auto;
  width: 75%;
  min-width: 400px;
  max-width: 1000px;
}

.columns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 0.5em;
}

.page__header {
  flex: 0 0 80px;
  background: #eb5e0b;
  color: white;
  display: flex;
  align-items: center;
}

.page__main {
  flex: 1 1 auto;
  background: #f8f1f1;
  color: black;
  padding: 1em 0;
  line-height: 1.4;
}

.page__footer {
  flex: 0 1 auto;
  background: #a3d2ca;
  color: black;
}

.page__footer a {
  color: black;
}

.page__footer-top {
  background: #5eaaa8;
  color: white;
  padding: 1em 0;
}

.page__footer-top a {
  color: white;
}

.page__footer-bottom {
  padding: 1em 0;
}

.page__footer-bottom p {
  margin: 0;
}
